<div style="text-align: center" id="barsChart">
    <apx-chart
        [series]="barsChartOptions.series"
        [chart]="barsChartOptions.chart"
        [xaxis]="barsChartOptions.xaxis"
        [title]="barsChartOptions.title"
        [theme]="barsChartOptions.theme"
    ></apx-chart>
</div>
<div id="radialChart">
    <apx-chart
        [series]="radialChartOptions.series"
        [chart]="radialChartOptions.chart"
        [title]="radialChartOptions.title"
        [theme]="radialChartOptions.theme"
        [labels]="radialChartOptions.labels"
        [plotOptions]="radialChartOptions.plotOptions"
    ></apx-chart>
</div>
